<!-- DataTables -->

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Hóa đơn</h1>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card col-12" style="padding: 0;">
                <div class="card-body">
                    <table id="bill_table" class="table table-bordered table-striped table-responsive-stack"
                        width="100%">
                        <thead>
                            <tr>
                                <th>Mã hóa đơn</th>
                                <th>Ngày tạo</th>
                                <th>Người tạo</th>
                                <th>Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Mã hóa đơn</th>
                                <th>Ngày tạo</th>
                                <th>Người tạo</th>
                                <th>Thành tiền</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>

<script src="scripts/hoadon.js"></script>